.header{
    align-items: center;
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header h3 {
    color: #d98512;
}

@media (max-width: 1000px) {
    .header{
        align-items: center;
        width: 500px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .header{
        align-items: center;
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}



